[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=sfServer64r
Comment=http://www.scopefun.com
Path=/usr/lib/oscilloscope
Exec=sfServer64r
Icon=/usr/lib/oscilloscope/oscilloscope256.png
Terminal=false
